.App {
  text-align: center;
  padding-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  font-family: 'Courier New', Courier, monospace;  
}

body{
  background-color: #96a0de;
}

button{
  color:#0c2cd8;
}